#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
export DH_VERBOSE = 1

export DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

DISTRO = "$(shell dpkg-vendor --query vendor)"

GST_PACKAGE_NAME := "GStreamer (${DISTRO} ${DEB_HOST_ARCH})"


export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export BUILDDIR=build-${DEB_HOST_MULTIARCH}

#export HOME=$(CURDIR)/fake-HOME
export DEB_DH_SHLIBDEPS_ARGS_ALL=--dpkg-shlibdeps-params=--ignore-missing-info

PKG_DESTDIR=$(CURDIR)/debian/gstreamer1.0

export DESTDIR=${PKG_DESTDIR}


DEB_BUILD_OPTIONS="lang=en-US ccache nocheck noddebs parallel=$(nproc)"
CFLAGS += -Wno-error
CXXFLAGS += -Wno-error
#LDFLAGS += -ldl -Wl,-z,defs -Wl,-O1 -lpython3.11 -L/lib/x86_64-linux-gnu
LDFLAGS += -Wl,-z,defs -Wl,-O1
LIBS=-lpython3.11
RUSTFLAGS += -Copt-level=3 -Cdebuginfo=2 -Clinker=${DEB_HOST_MULTIARCH}-gcc



# See FEATURE AREAS in dpkg-buildflags(1).
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ --with python3 --buildsystem=meson


override_dh_auto_configure:
	/build/scripts/configure-gst.sh $(CURDIR) ${BUILDDIR}

override_dh_auto_build:
	/build/scripts/build-gst.sh $(CURDIR) ${BUILDDIR}
	/build/scripts/build-rs.sh ${BUILDDIR} $(CURDIR)

override_dh_auto_install:
	meson install --destdir ${PKG_DESTDIR}  -C ${BUILDDIR}
# build and install the rust plugins
	/build/scripts/install-rs.sh ${BUILDDIR} ${PKG_DESTDIR} $(CURDIR)
	mkdir -p ${PKG_DESTDIR}/etc/
# copy the environment script
	cp -R /build/scripts/profile.d ${PKG_DESTDIR}/etc/



override_dh_auto_test:
	dh_auto_test || true

override_dh_installdocs-arch:
	#dont install

override_dh_shlibdeps:
	dh_shlibdeps -l$(shell pwd)/debian/gstreamer1.0/opt/gstreamer/lib --dpkg-shlibdeps-params=--ignore-missing-info 